/**
 * System fonts
 * 1. Mac OS X
 * 2. Windows and Windows Phone
 * 3. Android and Chrome OS
 * 4. Linux
 * 5. Firefox OS
 * 6. older Android
 * 7. Fallbacks
 */
html {
  box-sizing: border-box;

  height:100%;
  min-height:100%;

  font-family:
    -apple-system, BlinkMacSystemFont, /* [1] */
    "Segoe UI", /* [2] */
    "Roboto", /* [3] */
    "Oxygen", "Ubuntu", "Cantarell", /* [4] */
    "Fira Sans",  /* [5] */
    "Droid Sans",  /* [6] */
    "Helvetica Neue", sans-serif; /* [7] */
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  height:100%;
  min-height:100%;
  margin: 0;
  padding: 0;
}

pre {
  overflow: auto;

  margin: 1em 0;
  padding: 1em;

  background-color: #dfdfdf;
  border-radius: 3px;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 90%;
}

:not(pre) > code::before,
:not(pre) > code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

:not(pre) > code {
  color: #04857f;
}

a {
  cursor: pointer;

  color: #dc3838;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
}

a:active {
  background-color: #dc3838;
  color: white;
  text-decoration: none;
}

#psg-IsMenuHidden {
  display: none;
}

#psg-IsMenuHidden:checked ~ .psg-Menu {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

#psg-IsMenuHidden:checked + .psg-Header > .psg-hideMenu {
  display: none;
}

.psg-hideMenu {
  display: block;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  color: transparent;
}

.psg-MenuButton {
  display: inline-block;

  width: 5em;
  padding: 1em;

  cursor: pointer;

  text-align: center;
  text-transform: uppercase;

  background-color: #00b2ab;
  border-radius: 10%;

  font-size: 70%;
}

.psg-MenuButton::before {
  content: '';
  display: inline-block;

  height: 2.2em;
  width: 3em;
  margin-bottom: .2em;

  background-image: -webkit-linear-gradient(bottom, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);

  background-image: linear-gradient(0deg, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
}

.psg-MenuButton:active::before {
  background-image: -webkit-linear-gradient(bottom, #dc3838 20%, transparent 20%, transparent 40%, #dc3838 40%, #dc3838 60%, transparent 60%, transparent 80%, #dc3838 80%);
  background-image: linear-gradient(0deg, #dc3838 20%, transparent 20%, transparent 40%, #dc3838 40%, #dc3838 60%, transparent 60%, transparent 80%, #dc3838 80%);
}

.psg-Header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  padding: 0 1em 0 1.5em;

  -webkit-transition: all .7s cubic-bezier(0.39, 0.58, 0.57, 1);

  transition: all .7s cubic-bezier(0.39, 0.58, 0.57, 1);

  background-color: #00b2ab;
  font-size: .9em;
}

.psg-Header:hover,
#psg-IsMenuHidden:not(:checked) + .psg-Header {
  padding-top: .8em;
  padding-bottom: .8em;
  font-size: 1em;
}

.psg-Header-heading {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  margin: 0;
}
.psg-Header-heading a:not(:active) {
  color: inherit;
  text-decoration: inherit;
}

.psg-Logo {
  display: none;
}

.psg-Logo-pic {
  margin-bottom: 2em;
}

.psg-Menu {
  position: absolute;
  left: 0;
  right: 0;

  -webkit-transition: -webkit-transform .5s ease-out;

  transition: -webkit-transform .5s ease-out;

  transition: transform .5s ease-out;

  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.psg-Menu-header {
  text-align: center;
}

.psg-Menu-itemgroup,
.psg-Menu-item {
  display: block;

  margin: 0;
  padding: 0;

  list-style: none;
}

.psg-Menu-itemgroup {
  padding: .5em;

  background-color: #00b2ab;
}

.psg-Menu-link {
  display: block;

  margin: .3em 0;
  padding: .9em 1em .6em;

  text-decoration: none;

  background-color: #fff;
  border-bottom: .3em solid #00b2ab;
  color: #dc3838;
}

.psg-Menu-link:hover {
  background-color: #00ccc4;
  border-bottom-color: #dc3838;
  color: #000;
}
.psg-Menu-link:active {
  background-color: #dc3838;
  border-bottom-color: #dc3838;
  color: #fff;
}

.psg-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;

  padding-bottom: 3em;
}


.psg-Component {
  margin: 3em 2% 0;
  padding: 3em 4% 0;

  border-top: 2px solid #00b2ab;
}

.psg-Component:nth-child(2) {
  border-top: none;
  margin-top: 0;
}

.psg-Component--secondary {
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;

  border-top-width: 1px;
}

.psg-Component-content {
  padding: 0;
}

.psg-Component > :first-child,
.psg-Component-content > :first-child {
  margin-top: 0;
}

.psg-Component-content > :last-child {
  margin-bottom: 0;
}

/*.psg-Component-content--colorPalette {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
}*/

.psg-Color {
  display: inline-block;

  width: 15%;
  min-width: 6em;
  margin-right: 5%;
  margin-bottom: 1em;

  vertical-align: top;
}

.psg-Color-code {
  display: block;

  background-color: currentColor;
  border-radius: 50%;
  border: 2px solid #666;
  font-size: 0;
}

.psg-Color-code::before {
  content: '';
  display: block;

  padding-top: 100%;
}

.psg-Color-name {
  display: block;

  margin-top: 1em;

  text-align: center;
}

.psg-Color-name::before {
  content: '--';
  display: inline;
}

.psg-Color-name::after {
  content: attr(value);
  display: block;

  margin-top: .5em;
  font-size: .8em;
  font-style: italic;
}

.psg-ResponsiveSample {
  margin: 1em 0;

  text-align: right;
}

.psg-ResponsiveSample-header {
  display: inline-block;

  border: 1px solid #00b2ab;
  border-bottom: none;
  border-radius: .3em .3em 0 0;
}

.psg-ResponsiveSample-tab {
  display: inline-block;

  padding: .6em 1.2em;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  color: #dc3838;

  font-size: .9em;
}

.psg-ResponsiveSample-tab:not(:last-child) {
  border-right: 1px solid #00b2ab;
}

.psg-ResponsiveSample-tab:hover:not(:active) {
  background: #00ccc4;
  color: #000;
}

.psg-ResponsiveSample-tab.is-selected,
.psg-ResponsiveSample-tab.is-selected:hover {
  cursor: default;

  background: #00b2ab;
  border-bottom-color: currentColor;
  color: #000;
}

.psg-ResponsiveSample-body {
  overflow-x: auto;

  padding: 1em;

  text-align: left;

  background: #d7d7d7;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 14px, #ddd 14px, #ddd 17px, transparent 17px),
    -webkit-repeating-linear-gradient(315deg, transparent, transparent 14px, #ddd 14px, #ddd 17px, transparent 17px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 14px, #ddd 14px, #ddd 17px, transparent 17px),
    repeating-linear-gradient(135deg, transparent, transparent 14px, #ddd 14px, #ddd 17px, transparent 17px);
}

.psg-ResponsiveSample-iframe {
  display: block;
  overflow-y: auto;

  box-sizing: content-box;
  max-height: calc(100vh - 10rem);

  margin: 0 auto;

  resize: horizontal;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;

  border: 1px solid #bbb;
  box-shadow: 0 0 1em 3px #f5f5f5;
}

.psg-ResponsiveSample-iframe--100\% {
  box-sizing: border-box;
}
