- var namespace = "psg"
doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title <%= projectName %>
    style <%- codeStyle %>
    style <%- tmplStyle %>
    style#processedcss <%- processedCSS %>
    script
      include .tmp/template.js

  body

    input#gf-IsMenuHidden(type="checkbox", checked)
    .gf-Header
      h1.gf-Header-heading
        a(href="#top", title="back to top") <%= projectName %>
      label.gf-MenuButton(for="gf-IsMenuHidden") menu
      label.gf-hideMenu(for="gf-IsMenuHidden") hide menu
    nav.gf-Menu
      a.gf-Logo.gf-Menu-header
        img.gf-Logo-pic(src="http://postcss.github.io/postcss/logo.svg", alt="Philosopher’s stone, logo of PostCSS")
      ul.gf-Menu-itemgroup
        ='\n'
        |<% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
        li.gf-Menu-item
          a(href="#color-palette", onclick="document.getElementById('gf-IsMenuHidden').click()").gf-Menu-link Color Palette
        ='\n'
        |<% } %>
        |<% maps.forEach(function (map) { %>
        |  <% if (map.link.title !== null) { %>
        li.gf-Menu-item
          a(href!="#<%= map.link.id %>", onclick="document.getElementById('gf-IsMenuHidden').click()").gf-Menu-link <%= map.link.title %>
        ='\n'
        |  <% } %>
        |<% }) %>
      ='\n'
    main.gf-main
      div#top
      |<% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
      section.gf-Component
        h2.gf-Component-title#color-palette Color Palette
        ul.gf-Component-content.gf-Component-content--colorPalette
          ='\n'
          |<% colorPalette.forEach(function (palette) { %>
          li.gf-Color
            code.gf-Color-code(style!="color: <%= palette.color %>")
              |<%= palette.color %>
            data.gf-Color-name(value!="<%= palette.color %>")
              |<%= palette.name %>
          ='\n'
          |<% }) %>
      ='\n'
      |<% } %>
      ='\n'
      |<% maps.forEach(function (map) { %>
      |<% if (map.link.title !== null) { %>
      section.gf-Component
        h2.gf-Component-title(id!="<%= map.link.id %>") <%= map.link.title %>
        .gf-Component-content <%- map.html %>
      |<% } else { %>
      section.gf-Component.gf-Component--secondary
        .gf-Component-content <%- map.html %>
      |<% } %>
      |<% }) %>

